/* NAVIGATION DESIGN  */
.icons {
  font-size: 4rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.163);
  padding: 1rem;
  border-radius: 50%;
}

.user_icon {
  font-size: 2.5rem;
  margin: 0 1rem;
  color: black;
}

.phone-icon {
  font-size: 2.8rem;
  color: white;
}

.nav-list {
  padding: 0 1.5rem;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
}

.active {
  border-bottom: 3px solid var(--color-lightblue);
}

/* ///////////////////////////////////////// */
/* HERO LANDING PAGE DESIGN */

.img-radius {
  border-radius: 20px;
}

.hero-text {
  flex: 1 1 400px;
}

.hero-image {
  flex: 1 1 400px;
}

.hero-text p {
  color: rgb(27, 27, 27);
  margin-bottom: clamp(1.5rem, 3vw, 4rem);
}

.icon-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn-color {
  background-color: var(--color-yellow);
  padding: 1rem 2rem;
}

.back-button {
  background-color: rgba(255, 255, 255, 0.795);
  padding: 0 1rem;
}

.forward-button {
  background-color: rgba(0, 0, 0, 0.134);
  padding: 0 1rem;
}

.btn {
  font-size: 3rem;
  color: black;
}

/* SECOND SECTION STARTS HERE */

.feature-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.feature-flex h3 {
  color: rgba(0, 0, 0, 0.821);
}

.feature-icon {
  font-size: clamp(3rem, 3vw, 5rem);
  background-color: var(--color-yellow);
  border-radius: 50%;
  padding: 1rem;
  color: white;
  margin: 1rem 0;
}

/* NEW COLLECTION DESIGN */
.collection-grid-container {
  display: grid;
  /* align-items: start; */
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-template-areas: "one one two" "three four two";
  grid-gap: 2rem;
  padding: 6rem 0;
}
.text p {
  line-height: 4rem;
}
.collection-heading {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.collection-one {
  grid-area: one;
  background-color: var(--color-aliceblue);
  padding: 1rem;
  border-radius: 20px;
  align-self: start;
}

.collection-two-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collection-image-position {
  scale: 1;
  margin-top: clamp(1rem, 4vw, 10rem);
}

.collection-two {
  grid-area: two;
  align-self: start;
  justify-self: start;
  max-height: 20rem;
}

.collection-three {
  grid-area: three;
}

.collection-four {
  grid-area: four;
  text-align: center;
  color: white;
  background-color: var(--color-blue);
  padding: 10rem 0;
}

@media (max-width: 56.25em) {
  .collection-grid-container {
    grid-template-areas: none;
  }

  .collection-one {
    grid-area: auto;
  }

  .second-collection {
    background-color: var(--color-aliceblue);
    padding: clamp(2rem, 2.5vw, 3rem);
  }
  .collection-two {
    grid-area: auto;
    max-height: 100%;
  }

  .collection-three {
    grid-area: auto;
  }

  .collection-four {
    grid-area: auto;
  }
}

/* /////////////////////////////////////// */
/* featured categories */

.featured-btn {
  color: black;
  background-color: white;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.134);
  padding: 0.5rem 2rem;
  border-radius: 15px;
  text-align: center;
}

.featured-btn .btn {
  font-size: 3rem;
  color: var(--color-yellow);
}

.featured-btn-right {
  background-color: var(--color-yellow);
  padding: 0.5rem 2rem;
  border-radius: 15px;
  text-align: center;
}

.featured-btn-right .btn-right {
  font-size: 3rem;
  color: white;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quarter-image {
  max-width: 75%; /* 25% for a quarter view */
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--color-lightgrey);
  padding: 4.5rem;
}

.featured-link {
  color: black;
  text-decoration: none;
  font-size: 2.2rem;
  text-transform: capitalize;
  padding: 1rem 0;
}

/* ////////////////////////////////////// */
/* TRENDING PRODUCTS FLEX */
.trend-button {
  background-color: var(--color-lightblue);
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
}

.flex button {
  margin: 2rem 0;
  font-size: clamp(1.8rem, 1.5vw, 2rem);
  padding: 1rem;
}

.category-btn {
  background-color: var(--color-lessgrey);
}

.active-btn {
  background-color: var(--color-yellow);
  color: white;
}

.trending-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 2rem;
  position: relative;

  font-family: lato;
}

.product-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.trending-space * {
  padding: 0.5rem;
  font-weight: 500;
}

.btn-cart {
  padding: 1rem;
  background-color: black;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.752);
  margin: 1rem 0;
}

.img-product {
  border-radius: 0 0 5% 5%;
  margin: 0 auto;
}

.trending-details {
  color: white;
  border-radius: 30%;
  padding: 2rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.position {
  position: absolute;
  top: 0;
  width: 100%;
}

.trend-cart {
  font-size: 5rem;
  color: var(--color-yellow);
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.discount {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.discount p {
  font-size: 1.8rem;
}

.wishlist button {
  font-size: 2.5rem;
  padding: 0.2rem 0.5rem;
  background-color: white;
  text-align: center;
  /* border-radius: 10px; */
}

/* //////////////////////////// */
/* FOOTER DESIGN STARTS HERE */
footer {
  text-align: center;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.last-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--color-blue);
  color: white;
  padding: 2rem;
  margin-top: 2rem;
}

/* ////////////////////////////// */
/* PRODUCTS FILTER STARTS HERE */
.products-filter {
  /* background-color: lightblue; */

  padding: 1rem;
  border-radius: 20px;

  overflow-y: scroll;
}

.relative {
  position: relative;
}

h4 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.product-filter-flex {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: start;
  justify-content: center;

  gap: 1rem;
}

.products-filter label {
  color: rgba(0, 0, 0, 0.808);
  font-size: 1.8rem;
}

.filter-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.product-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-pagination {
  font-size: 1.8rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.126);
  color: rgba(255, 255, 255, 0.53);
}
